#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  --arrow-color: #3a3a3a;
}

.rdp-nav_button {
  color: 3a3a3a;
}

.rdp-nav_button:hover {
  color: 3a3a3a;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
